<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="description" content="">
    <meta name="keywords" content=""> -->
    <title>IP List Customizer</title>
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->
    <!-- <link type="text/css" rel="stylesheet" href="">
    <script type="text/javascript" src=""></script> -->
</head>
<body>

<div>Last Update: {{.Date |html}}</div>
<div>Registries:</div>
{{ range .Registries }}
<input type="checkbox" id="{{ . | html }}">{{ . | html }}
{{ end }}
<div>Countries:</div>
{{ range $c, $_ := .Countries }}
<input type="checkbox" id="{{ $c | html }}">{{ $c | html }}
{{ end }}

</body>
</html>

